---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$primary-100: #BBDEFB;
$primary-500: #2196F3;
$primary-700: #1976D2;
$primary-900: #0D47A1;
$primary-text-l: black;
$primary-text: white;

$accent-text: white;
$accent-500: #FF5722;

$text-color: black;

$background-color: #ededed;
$foreground-color: white;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
